* {
    margin: 0;
    padding: 0;
    background-color: rgb(42, 38, 38);
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    cursor: pointer;
    font-size: 12px;
}